/*
Colors here - Jonah pick some cool color scheme
blue #1493A5
cream #F1EADC
*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html > * {
  box-sizing: border-box;
}

.content-container {
  margin-left: 150px;
}

.header {
  position: fixed;
  width: 100%;
  background:pink;
  padding: 1rem;
  top: 0px;
  /* position: fixed;
  z-index: 21;
  height: 100px;
  background-color: #FFF;
  top: 0;
  border-bottom: 1px solid #DDD;
  width: 100%;
  padding: 1rem;
  overflow: hiddem;
  box-sizing: border-box; */
}

.content {
  position: absolute;
  top: 100px;
  bottom: 100px;
  padding: 1rem;
  box-sizing: border-box;
  width: calc(100% - 150px);
  overflow-y: auto;
  /* position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  overflow: auto;
  width: 80%; */
  /* overflow: scroll;
  
  margin-top: 100px;
  margin-bottom: 100px; */
}

.footer {
  position: fixed;
  position:fixed;
  width:100%;
  background:pink;
  padding: 1rem;
  bottom: 0px;
  /* overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  height: 100px;
  width: 100%;
  border-top: 1px solid #DDD;
  box-sizing: border-box; */
}