.Container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Main {
  padding: 2%;
  width: 100vw;
  margin-left: 100px;
  flex: .8;
}

.Player {
}

.Content {
}

/*
colors:
blue #1493A5
cream #F1EADC
*/
