
.playlist-container {
  border-radius: 25px;
  height: 500px;
  text-align: left;
  overflow-y: auto;
  padding: .5rem;
}

.playlist-section {
  list-style-type: none;
}

.playlist-container-item {
  cursor: pointer;
  border-bottom: 1px solid blue;
  margin: 5px;
  padding: .5rem 0;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}


/* Player Styles */


.album-art-container {
  height: 100px;
  width: 100px;
  padding: .75rem;
  box-sizing: border-box;
}

.album-art-container img {
  display: block;
  width: 100%;
}

.controls-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
  height: 100%;
}