.radio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: calc(100% - 75px);
}

.top {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.control {
  cursor: pointer;
  margin: 25px;
}

.start {
  cursor: pointer;
  padding: .65rem 3rem;
  border-radius: 100px;
  border: 0;
  outline: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: .5rem;
}

.art {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.show-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  justify-content: center;
  align-self: center;
}

.song {
  font-weight: bold;
  font-size: 18px;
}