.radio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: calc(100% - 75px);
}

.top {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.control {
  cursor: pointer;
  margin: 25px;
}

.start {
  cursor: pointer;
  padding: .65rem 3rem;
  border-radius: 100px;
  color: #FFF;
  border: 0;
  outline: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: .5rem;
}

.art {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.show-details {
  display: flex;
  flex-direction: column;
}

.player {
  justify-content: center;
  align-self: center;
}

/* .show-overview {
  background-color: #FFF;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
} */

.information {
  width: 100%;
  display: flex;
  flex-direction: row;
}