.show-information-control {
  position: relative;
  box-shadow:  0 0 8px 0 rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.show-information {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .15s ease opacity; 
}

.show-tags {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

.tag {
  text-align: center;
  flex: 1;
  cursor: default;
  padding: 4px 2px;
  background-color: #CFD8DC;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  box-shadow: 0 0 8px 0px rgba(0,0,0,0.4);
  z-index: 6;
}

.show-information:hover {
  opacity: 1;
}

.play-button {
  border: 1px solid #FFF; 
  border-radius: 50%;
  padding: .5rem; 
  background-color: rgba(0, 0, 0, 0.35);
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
}

.load-more {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  align-self: center;
}

.play-button:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.6);
}

.play-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 3px),-50%);
}

.show-likes {
  color: #FFF;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1;
  cursor: pointer;  
  padding: .5rem;
  align-items: center;
  font-size: 18px;
}

.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.likes-num {
  margin-left: 5px;
}

.left-10 {
  position: absolute;
  left: 12px;
}

.clickable {
  cursor: pointer;
}

.shows-container {
  height: calc(100% - 91px);
  overflow: auto;
  top: 100px;
  position: absolute;
  padding: 1.25rem .25rem;
  text-align: center;
  box-sizing: border-box;
}

.filters {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 10;
  background: #F9f9F9;
  box-shadow: 0 0 7px 0px rgba(0,0,0,0.2);
}

.search-filter {
  padding: 1rem;
  flex: 1;
}

.year-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.year-list-item {
  display: inline-block;
  padding: 5px 10px;
}

.show-gallery {
  flex-grow: 5;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  max-width: calc(100% - 10px);
  width: 100%;
  margin: 0 auto;
}

.show-gallery img {
  width: 100%;
  transition: .5s ease;
  border-radius: 10px;
  opacity: 1;
  display: block;
}

.image-container {
  text-align: left;
}

.show-date,
.show-venue  {
  margin: .5rem 0;
  display: block;
  cursor: pointer;
}

.show-venue {
  color: #999;
}

.show-date:hover,
.show-venue:hover {
  text-decoration: underline;
}

.show-gallery div :before, :after {
  transition: .3s opacity ease;
  opacity: 0;
}

.show-gallery div :after {
  font-size: 80px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  color: #fff;
  left: 50%;
  top: 50%;
  display: block;
}

.show-gallery :before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(#222, 0.5);
  display: block;
}

.show-gallery :hover {
  opacity: 1;
  transition: .3s opacity ease;
}
