.show-overview {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-list {
  overflow-y: scroll;
}

.show-details {
  width: 40%;
}

.art {
  object-fit: contain;
  width: 25%;
}