.sidenav a {
  margin-top: 25px;
  padding: 1rem;
  text-decoration: none;
  font-size: 15px;
  color: #BDBDBD;
  display: block;
}

.sidenav a.active {
  color: #2979FF;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #FFF;
}

