/* General sidebar styles */
.bm-menu {
  background: #FFF;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu a {
  color: #BDBDBD;
  text-decoration: none;
}

.bm-menu-wrap {
  height: calc(100% - 100px) !important;
}

a.active {
  color: #2979FF;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
