.filters {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  z-index: 8888;
  flex-wrap: nowrap;
  width: calc(100% - 125px);
  background: #F9f9F9;
  box-shadow: 0 0 7px 0px rgba(0,0,0,0.2);
}

.playlist-section {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.show-container-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .35rem .25rem;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  margin-bottom: .25rem;
  border: 1px solid #EEEEEE;
  transition: .1s ease box-shadow;
  flex-grow: 1;
}

.show-container-item.header-cell {
  border: 0; 
}

.show-container-item.header-cell:hover {
  box-shadow: none;
}

.show-container-item:nth-child(odd) {
  background-color: #EEEEEE;
}

.show-container-item:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.play-cell {
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  color: #BDBDBD;
}

.title-cell {
  width: 20%;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.jamcharts-cell {
  width: 20%;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.likes-cell {
  margin-left: auto;
  text-align: center;
  padding: 0 1rem;
  box-sizing: border-box;
  flex: 1;
  position: relative;
}

.likes-bar:before {
  content: '';
  height: 43px;
  width: 100%;
  position: absolute;
  top: -20px;
  left: 0;
}

.likes-bar {
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background-color: #C5CAE9;
}

.inside-bar {
  background-color: #3F51B5;
  height: 5px;
  border-radius: 2.5px;
  width: 5px;
}

.track-play {
  transform: translate(calc(-50% + 1px),-50%);  
}

.track-number {
  display: inline-flex;
}

.show-container-item:hover .track-number {
  display: none;
}

.play-button-sm,
.pause-button-sm {
  background-color: transparent;
  border: 1px solid #3F51B5;
  box-sizing: border-box;
  display: none;
  border-radius: 50%;  
  position: relative;
  height: 30px;
  width: 30px;
}

.show-container-item:hover:not(.playing) .play-button-sm {
  display: inline-flex;
}

.playing .play-buttom-sm {
  display: none;
}

.playing .track-number {
  display: none;
}

.playing .pause-button-sm {
  display: inline-flex;
}

.track-play,
.track-pause {
  fill: #3F51B5;
  padding: .25rem;
  border-radius: 50%;
  position: absolute;
  height: 15px;
  width: 15px;
  left: 50%;
  top: 50%; 
  transform: translate(-50%,-50%);
}
