<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title> Hose </title>
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Begin of Chaport Live Chat code -->
    <script type="text/javascript">
      (function(w,d,v2){
      w.chaport = { app_id : '5a25b7637fb8e8028507270d' };
      
      v2=w.chaport;v2._q=[];v2._l={};v2.q=function(){v2._q.push(arguments)};v2.on=function(e,fn){if(!v2._l[e])v2._l[e]=[];v2._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
    </script>
  <!-- End of Chaport Live Chat code -->
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title }} (Beta)</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        <a target="_blank" href="https://s3.amazonaws.com/hose/hose-0.2.3.dmg" class="btn">For Mac</a>
        <a target="_blank" href="https://s3.amazonaws.com/hose/hose+Setup+0.2.3.exe" class="btn">For Windows</a>
    </section>

    <section class="main-content">
      <footer class="site-footer">
        <p>Questions, Feedback, Bugs, and more - Contact chrissbendel@gmail.com</p>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </section>
  </body>
</html>